<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/1232bad2-d069-410b-95bb-ed99ea560b69/resourcegroups/ContosoCraftsWebsite20200508160812ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20200508160818</ContainerResourceId>
    <ContainerResourceName>registry20200508160818</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200508160818.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1232bad2-d069-410b-95bb-ed99ea560b69/resourcegroups/ContosoCraftsWebsite20200508160812ResourceGroup/providers/Microsoft.Web/sites/ContosoCraftsWebsite20200508160812</ResourceId>
    <ResourceGroup>ContosoCraftsWebsite20200508160812ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://contosocraftswebsite20200508160812.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://contosocraftswebsite20200508160812.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c5e2d48b-de2b-48ff-ab08-9f98e9e8f940</ProjectGuid>
  </PropertyGroup>
</Project>